<% if @task %>  
  <form action="/<%= @task.id %>" method="post" id="delete">  
  	<h2>Are you sure you want to delete the following task <em>"<%= @task.content %>"</em>?<h2>
  	<p>You will not be able to undo this action.</p>
  		<div id="input">
    		<a href="/<%= @task.id %>">Cancel</a>
    		<input type="hidden" name="_method" value="delete">  
    		<input type="submit" value="Delete">
    	</div> 
  </form>  
<% else %>  
  <p>Task not found.</p>  
<% end %> 