<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= @title + ' | Tasks' %></title>  
  <link href="/css/reset.css" rel="stylesheet">  
  <link href="/css/stylesheet.css" rel="stylesheet">
</head>  
<body>  
  <header>
  <h1 class="header"><a href="/">Knight Lists</a></h1>
  <h2 class="header"><a href="/">Dashboard</a></h2>
  </header>  
  
  <div id="container">
    <%= yield %>
  </div>  
  
  <footer>  
  </footer>  
</body>  
</html> 