<!doctype html>  
<html lang="en">  
<head>  
	<meta charset="utf8">  
	<title><%= @title + ' | Tasks' %></title>  
	<link href="/css/reset.css" rel="stylesheet"> 
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/stylesheet.css" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery.js"></script>
</head>  
<body>  
  <header>
  <h1>Knight Lists</h1>
  <h2><a href="/boards">Boards</a></h2>
  <h2><a href="/">Dashboard</a></h2>
  </header>  
  
  <div id="container">
    <%= yield %>
  </div>  
  
  <footer>
  	<span id="copyright">© 2013 Team 1836 Robotics</span>
  </footer>  
</body>  
</html> 